.display-5{
    background-color: transparent;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        border-radius: 10px;
        font-size: 30px;
    }
    
    .card {
        background: #808873;   
    }
   

input[type="text"]{

    background-color: rgb(240, 234, 224);
 }
 
 
 